/*
 *= require_tree .
 *= require_self
 *= require jquery.powertip.min
 * require medium-editor/dist/css/medium-editor
 * require medium-editor/dist/css/themes/beagle
 * require medium-editor-insert-plugin/dist/css/medium-editor-insert-plugin
 * require medium-editor-insert-plugin/dist/css/medium-editor-insert-plugin-frontend
 */

@import "bootstrap-sprockets";
/*
 *= require theme
*/

html
{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html, body
{
    font-family: Lato,'Hiragino Kaku Gothic Pro',Meiryo,'Muli', sanserif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 14px;
    line-height: 1.2em;
    font-weight:300;
    
}
body
{
    background-color: #fafafa;
    /* color: #030d1e; */
    color: #333;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
/*
html {
  height: 100%;
  overflow: hidden;
}
body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}
*/

input,
textarea,
select,
nav {
    outline:none;
}
br{
    font-weight: bold;
}
@media (max-width:500px) {
h1
{
  font-family: Lato,'Raleway','Hiragino Kaku Gothic Pro',Meiryo,'Muli', sanserif;
      font-size: 44px;
    line-height: 52px;
  overflow: hidden;
  font-weight: 300;
}
}

@media (min-width:501px) {
h1
{
  font-family: Lato,'Raleway','Hiragino Kaku Gothic Pro',Meiryo,'Muli', sanserif;
  font-size: 52px;
  line-height: 59px;
  overflow: hidden;
  font-weight: 300;
}
}

h1.title
{
font-family: Lato,'Raleway','Hiragino Kaku Gothic Pro',Meiryo,'Muli', sanserif;
  font-weight: bold;
    font-size: 1.2em;
    line-height: 1.31em;
    /*-webkit-filter:drop-shadow(0px 0px 12px rgba(45,83,243,0.6));
    filter: drop-shadow(0px 0px 12px rgba(45,83,243,0.6));*/
}
@media (max-width:500px) {
h2
{
  font-family: Lato,'Raleway','Hiragino Kaku Gothic Pro',Meiryo,'Muli', sanserif;
  font-size: 24px;
  line-height: 26px;
  overflow: hidden;
  font-weight: 300;
}
}

@media (min-width:501px) {
h2
{
  font-family: Lato,'Raleway','Hiragino Kaku Gothic Pro',Meiryo,'Muli', sanserif;
  font-size: 32px;
  line-height: 38px;
  overflow: hidden;
  font-weight: 300;
}
}
h2.title
{
font-family: Lato,'Raleway','Hiragino Kaku Gothic Pro',Meiryo,'Muli', sanserif;

  font-size: 1.1em;
  line-height: 1.2em;

    /*-webkit-filter:drop-shadow(0px 0px 10px rgba(45,83,243,0.5));
    filter: drop-shadow(0px 0px 10px rgba(45,83,243,0.5));*/
}
@media (max-width:500px) {
h3 {
  font-family: Lato,'Raleway','Hiragino Kaku Gothic Pro',Meiryo,'Muli', sanserif;
  font-size: 22px;
  line-height: 30px;
  overflow: hidden;
  font-weight: 300;
}
}
@media (min-width:501px) {
h3 {
  font-family: Lato,'Raleway','Hiragino Kaku Gothic Pro',Meiryo,'Muli', sanserif;
  font-size: 26px;
  line-height: 34px;
  overflow: hidden;
  font-weight: 300;
}
}
@media (max-width:500px) {
h4 {
  font-family: Lato,'Raleway','Hiragino Kaku Gothic Pro',Meiryo,'Muli', sanserif;
  font-size: 15px;
  line-height: 22px;
  overflow: hidden;
  font-weight: 300;
}
}
@media (min-width:501px) {
h4 {
  font-family: Lato,'Raleway','Hiragino Kaku Gothic Pro',Meiryo,'Muli', sanserif;
  font-size: 20px;
  line-height: 28px;
  overflow: hidden;
  font-weight: 300;
}
}
h5 {
    font-size: 14px;
    line-height: 1.2em;
}
.br_tx{
    font-family: Lato,'Raleway','Hiragino Kaku Gothic Pro',Meiryo,'Muli', sanserif;
  font-weight: bold;
}

.text_h4
{
  font-size: 1.1em;
  line-height: 2em;
}
.text_index
{
    line-height: 1.2em;
}
p.br { font-weight: 1000; }
p.exbr {font-weight: 1500;}

a, a:visited
{
  text-decoration: none;
  outline: 0;
  color: #ff2d00;
  transition: all 0.3s cubic-bezier(0.39,0.58,0.57,1);
}

a:hover
{
  color: #AAA;
  background: none;
  text-decoration: none;
  outline: 0;
}
a:focus,
a:active
{
    background: none;
    text-decoration: none;
    outline: 0;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.link,
.link:visited
{
  text-decoration: none;
  outline: 0;
  color: #ff2d00;
  transition: all 0.3s cubic-bezier(0.24, 0.37, 0.41, 0.92);
} 
.link_rv,
.link_rv:visited
{
  text-decoration: none;
  outline: 0;
  color: #AAA;
  transition: all 0.3s cubic-bezier(0.24, 0.37, 0.41, 0.92);
}
.link_d,
.link_d:visited
{
  color: #030d1e;
  text-decoration: none;
  outline: 0;
}
.link_blue,
.link_blue:visited
{
  color: #0097A9;
  font-weight: bold;
  text-decoration: none;
  outline: 0;
}

.link:hover, .link_d:hover, .link_blue:hover
{
  color: #AAA;
  background: none;
  text-decoration: none;
  outline: 0;
}
.link:focus, .link_d:focus, .link_blue:focus,
.link:active, .link_d:active, .link_blue:active
{
    color:#AAA;
    background: none;
    text-decoration: underline;
    outline: 0;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.link_rv:hover
{
  color: #ff2d00;
  background: none;
  text-decoration: none;
  outline: 0;
}
.link_rv:focus, .link_rv:active
{
    color:#ff2d00;
    background: none;
    text-decoration: underline;
    outline: 0;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.link-cautious,
.link-cautious:visited
{
  color: #b80901;
  text-decoration: none;
  outline: 0;
}

.link-cautious:hover
{
  color: #eb0b01;
  background: none;
  text-decoration: underline;
  outline: 0;
}
.link-cautious:focus,
.link-cautious:active
{
    color: #fe1208;
    background: none;
    text-decoration: underline;
    outline: 0;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.link_b,
.link_b:visited
{
    color: rgba(255,255,255,0.8);
    text-decoration: none;
    outline: 0;
}
.link_b:hover
{
    text-decoration: underline;
    outline: 0;

    background: none;
    color: rgba(255,255,255,1);
}
.link_b:focus,
.link_b:active
{
    text-decoration: underline;
    outline: 0;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;

    background: none;
    color: rgba(255,255,255,1);
}

ul{
    list-style-type: none;
    list-style-position: outside;
    padding: 5px;
}
.nav_bg_w_2{
  background: #fff;
  background-color: transparent;
  display: block;
  box-shadow: rgba(0, 0, 0, 0.04) 0 2px 2px;
  z-index: 200;
  position: relative;
}
.nav_bg_w{
  display: block;
  position: absolute;
  top: 0; left:0;
  width: 100%;height:42px;
  overflow:hidden;
}
.nav_bg
{
    background: transparent no-repeat center 0px;
    background-image: -webkit-radial-gradient(circle farthest-side at right bottom, rgba(255,215,0,1), rgba(255,175,0,1) 57%, rgba(255,138,0,1));
    background-image: radial-gradient(circle farthest-side at right bottom, rgba(255,215,0,1), rgba(255,175,0,1) 57%, rgba(255,138,0,1));
    /* background-color: #000;
        background-image: url(image-path('universe.jpg'));   change thiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiis */
    z-index: 50;
    position: absolute;
    height: 60px;
    padding: 0 20px;
    top: -10px; left: -5px;
    width: 102%;
/*    -webkit-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px); */ /* blur */
    background-position: center 0!important;
    background-repeat: no-repeat;
}
.nav_bg_i
{
    background: inherit;
    /* background-image: -webkit-radial-gradient(circle farthest-side at right bottom, rgba(255,215,0,1), rgba(255,175,0,1) 57%, rgba(255,138,0,1));
      background-image: radial-gradient(circle farthest-side at right bottom, rgba(255,215,0,1), rgba(255,175,0,1) 57%, rgba(255,138,0,1));
      background-color: #000;
      background-image: url(image-path('universe.jpg'));   change thiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiis */
    z-index: 50;
    position: absolute;
    height: 60px;
    padding: 0 20px;
    top: -10px; left: -5px;
    width: 102%;
/*    -webkit-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px); */ /* blur */
    background-position: center 0!important;
    background-repeat: no-repeat;
}
.nav_bg_m{
  z-index: 100;
  position:absolute;
  top:0; left:0; width:100%; height:42px;
 /* background-color: rgba(255, 255, 255, 0.45); */

}
nav
{
position: relative;
/* min-width: 920px; */
/* width: 920px; */
    z-index: 200;
    width: 100%;
    height: 42px;
    margin: 0px 0px;
    overflow: visible;
}
.top_cover{
  position: relative;
  margin: -42px auto 0;
}
.top_cover_img{
  position: relative;
  margin: 0 auto;
  background: rgb(0, 0, 0) no-repeat center 0px;
    background-image: -webkit-radial-gradient(circle farthest-side at right bottom, rgba(255,215,0,1), rgba(255,175,0,1) 57%, rgba(255,138,0,1));
    background-image: radial-gradient(circle farthest-side at right bottom, rgba(255,215,0,1), rgba(255,175,0,1) 57%, rgba(255,138,0,1));
    /* background-image: #000;
    background-image: url(image-path('universe.jpg'));  change thiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiis */
    height: 100vh;
  box-shadow: rgba(0,0,0,0.2) 0 1px 2px;
}
@media (max-width:500px) {
.top_cover_img{

}
}
.top_cover_inside{
      height: 54px;
  /* width:850px; */
  margin: 0 auto;
}
#kao_action{
  background-image: url(image-path('neco_w.png'));
  -moz-background-size: 34px;
    background-size: 34px;
    image-rendering:-moz-crisp-edges;
    -ms-interpolation-mode:nearest-neighbor;
  height:34px; width:34px; margin-top:4px; color: #030d1e;
  z-index:1001;
  opacity:0.8;

      -moz-transition: all 0.3s cubic-bezier(0.39, 0.58, 0.57, 1); /* Firefox */
    -webkit-transition: all 0.3s cubic-bezier(0.39, 0.58, 0.57, 1); /* Safari and Chrome */
    -o-transition: all 0.3s cubic-bezier(0.39, 0.58, 0.57, 1);  /* Opera */
    transition: all 0.3s cubic-bezier(0.39, 0.58, 0.57, 1); /* Browsers that Support it */

}
#kao_action:hover{
  opacity:1;
}
/* Make the list of links take up the whole width of the nav */
.navul /*overwrite bullet*/
{
/* min-width: 920px; */
 max-width: 920px; 
    list-style: none;
    text-align: center;

    margin: 0 auto;
    padding: 0;
    overflow: show;

}
.navli
{
    font-size: 16px;
    height: 42px;
    line-height: 42px;
    margin: 0;
    padding: 0;
    float: left;
}.nav li.magicfont
{
    font-family: Lato,'Raleway', 'Muli','Hiragino Kaku Gothic Pro','Muli', sanserif;
    font-weight: bold;
}
.nav li:hover
{

}

.nav a, .nav a:visited, .nav a:focus
{
    text-decoration: none;
    display: block;
    color: #666;
}
.nav a:hover, .nav a:active,
{
    outline:none;
    color: #0097A8;
}

.icon:hover img,
{
    

}

#mask {
    display: none;
    position: fixed;
background: rgba(255,255,255,0.7);
background: -moz-linear-gradient(left, rgba(255,255,255,0.7) 0%, rgba(246,246,246,0.7) 47%, rgba(237,237,237,0.7) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0.7)), color-stop(47%, rgba(246,246,246,0.7)), color-stop(100%, rgba(237,237,237,0.7)));
background: -webkit-linear-gradient(left, rgba(255,255,255,0.7) 0%, rgba(246,246,246,0.7) 47%, rgba(237,237,237,0.7) 100%);
background: -o-linear-gradient(left, rgba(255,255,255,0.7) 0%, rgba(246,246,246,0.7) 47%, rgba(237,237,237,0.7) 100%);
background: -ms-linear-gradient(left, rgba(255,255,255,0.7) 0%, rgba(246,246,246,0.7) 47%, rgba(237,237,237,0.7) 100%);
background: linear-gradient(to right, rgba(255,255,255,0.7) 0%, rgba(246,246,246,0.7) 47%, rgba(237,237,237,0.7) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
    left: 0;
    top: 0;
    z-index: 400;
    width: 100%;
    height: 100%;
    /*opacity: 0.7;*/
}
.pop {
    display: none;
    background-image: -webkit-radial-gradient(circle farthest-side at right bottom, rgba(68, 68, 68, 0.53), rgba(68, 68, 68, 0.7) 57%, rgba(59, 59, 59, 0.75));
    /* background-image: radial-gradient(circle farthest-side at right bottom, #4F4D80, #313871 80%, #252E6A); */
    /* background-image: radial-gradient(circle farthest-side at right bottom, #ffac00, #ff8d00 57%, #ff6a00); */
    background-image: radial-gradient(circle farthest-side at right bottom, rgba(68, 68, 68, 0.53), rgba(68, 68, 68, 0.7) 57%, rgba(59, 59, 59, 0.75));
    color: #fff;
    padding: 25px;
    margin-left:-25px;
    border: 0px solid #ddd;
    float: left;
    font-size: 1.2em;
    position: fixed;
    top: 50%;
        margin-top: -125px;
    left: 50%;
    z-index: 6000;
-webkit-box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.5);
-moz-box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.5);
box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.5);
    border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}
.button
{
    outline: none;
    background: #040730; /* Old browsers */
    background: -moz-linear-gradient(top, #040730 0%, #030106 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #040730 0%,#030106 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #040730 0%,#030106 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#040730', endColorstr='#030106',GradientType=0 ); /* IE6-9 */
    border-color: #0e316f;
    border-width: 0px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #f7f7fa;cursor: pointer;
    display: inline-block;
    padding: 6px 6px 4px;
    margin-top: 10px;
    font: 12px;
    display: inline-block;
    -webkit-box-shadow: 10px 10px 106px -12px rgba(138,170,234,1);
    -moz-box-shadow: 10px 10px 106px -12px rgba(138,170,234,1);
    box-shadow: 10px 10px 106px -12px rgba(138,170,234,1);
}
.button:hover
 {
    outline: none;
    background: #020927;
    -webkit-box-shadow: 10px 10px 106px -9px rgba(138,170,234,1);
    -moz-box-shadow: 10px 10px 106px -9px rgba(138,170,234,1);
    box-shadow: 10px 10px 106px -9px rgba(138,170,234,1);
}
.button:active
{
    outline: none;
    background: #020927;
    -webkit-box-shadow: 10px 10px 106px -5px rgba(138,170,234,1);
    -moz-box-shadow: 10px 10px 106px -5px rgba(138,170,234,1);
    box-shadow: 10px 10px 106px -5px rgba(138,170,234,1);
}



.button_b
{
    outline: none;
    background: #040730; /* Old browsers */
    background: -moz-linear-gradient(top, #040730 0%, #030106 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #040730 0%,#030106 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #040730 0%,#030106 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#040730', endColorstr='#030106',GradientType=0 ); /* IE6-9 */
    border-color: #0e316f;
    border-width: 0px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #f7f7fa;cursor: pointer;
    display: inline-block;
    padding: 8px 6px 8px;
    font: 12px;
    width: 214px;
    -webkit-box-shadow: 10px 10px 106px -12px rgba(138,170,234,1);
    -moz-box-shadow: 10px 10px 106px -12px rgba(138,170,234,1);
    box-shadow: 10px 10px 106px -12px rgba(138,170,234,1);
}
.button_b_up
{
    outline: none;
    background: #040730; /* Old browsers */
    background: -moz-linear-gradient(top, #040730 0%, #030106 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #040730 0%,#030106 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #040730 0%,#030106 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#040730', endColorstr='#030106',GradientType=0 ); /* IE6-9 */
    border-color: #0e316f;
    border-width: 0px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #f7f7fa;cursor: pointer;
    display: inline-block;
    padding: 6px 6px 4px;
    margin-top: 10px;
    font: 12px;
    width: 304px;
    -webkit-box-shadow: 10px 10px 106px -12px rgba(138,170,234,1);
    -moz-box-shadow: 10px 10px 106px -12px rgba(138,170,234,1);
    box-shadow: 10px 10px 106px -12px rgba(138,170,234,1);
}
.button_b:hover, .button_b_up:hover
 {
    outline: none;
    background: #020927;
-webkit-box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
-moz-box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
}
.button_b:active, .button_b_up:hover
{
    outline: none;
    background: #020927;
-webkit-box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
-moz-box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
}
.text_i
{
    width: 100%;
    border-color: #e3ecfb;

    display: block;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #111;
  background-color: rgba(0,0,0,0);
  background-image: none;
  border-bottom: 1px solid #FF2600;
  border-radius: 0px;
  -webkit-transition: border-color ease-in-out .3s;
  -o-transition: border-color ease-in-out .3s;
  transition: border-color ease-in-out .3s;
}
.text_i:focus,.text_i:hover
{
  border-bottom: 1px solid #d0d5d5;
}
.text_i_b
{
    width:100%;
    color: RGBA(34, 34, 34, 0.8);
    background: #fff;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    padding: 2px !important;
}
.text_i_b:focus
{
    -webkit-box-shadow: 0px 0px 50px 0px rgba(218,244,255,1);
    -moz-box-shadow: 0px 0px 50px 0px rgba(218,244,255,1);
    box-shadow: 0px 0px 35px -4px rgba(218,244,255,1);
}


hr.m {
/* min-width:980px; */
    margin-top: 2em;
    margin-bottom: 2em;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(3, 13, 30, 0.9), #1D1B24, rgba(3, 13, 30, 0.9));
}



.blur
{
    background: inherit;
    -webkit-filter: blur(50px);
    -moz-filter: blur(50px);
    -o-filter: blur(50px);
    -ms-filter: blur(50px);
    filter: blur(50px);
}
#menu-toggle:focus {
    background-color: #fff;
}

#container-title-e {
background: rgba(1,5,12,1);
background: -moz-linear-gradient(left, rgba(1,5,12,1) 0%, rgba(29,27,36,1) 40%, rgba(29,27,36,1) 53%, rgba(29,27,36,1) 63%, rgba(1,5,12,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(1,5,12,1)), color-stop(40%, rgba(29,27,36,1)), color-stop(53%, rgba(29,27,36,1)), color-stop(63%, rgba(29,27,36,1)), color-stop(100%, rgba(1,5,12,1)));
background: -webkit-linear-gradient(left, rgba(1,5,12,1) 0%, rgba(29,27,36,1) 40%, rgba(29,27,36,1) 53%, rgba(29,27,36,1) 63%, rgba(1,5,12,1) 100%);
background: -o-linear-gradient(left, rgba(1,5,12,1) 0%, rgba(29,27,36,1) 40%, rgba(29,27,36,1) 53%, rgba(29,27,36,1) 63%, rgba(1,5,12,1) 100%);
background: -ms-linear-gradient(left, rgba(1,5,12,1) 0%, rgba(29,27,36,1) 40%, rgba(29,27,36,1) 53%, rgba(29,27,36,1) 63%, rgba(1,5,12,1) 100%);
background: linear-gradient(to right, rgba(1,5,12,1) 0%, rgba(29,27,36,1) 40%, rgba(29,27,36,1) 53%, rgba(29,27,36,1) 63%, rgba(1,5,12,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01050c', endColorstr='#01050c', GradientType=1 );
color: #f7f7fa;}

hr.m-title {
    margin-top:2px;
    margin-bottom:0px;
    border: 0;
    height: 10px;
    background-color: rgba(1,5,12,0.9);
    background: -moz-linear-gradient(left,  rgba(1,5,12,0.9) 0%, rgba(1,5,12,0.83) 48%, rgba(1,5,12,0.83) 56%, rgba(1,5,12,0.9) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(1,5,12,0.9) 0%,rgba(1,5,12,0.83) 48%,rgba(1,5,12,0.83) 56%,rgba(1,5,12,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(1,5,12,0.9) 0%,rgba(1,5,12,0.83) 48%,rgba(1,5,12,0.83) 56%,rgba(1,5,12,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01050c', endColorstr='#01050c',GradientType=1 ); /* IE6-9 */
    color: #f7f7fa;}

hr.m-title-up {
    margin-top:-2px;
    margin-bottom:2px;
    border: 0;
    height: 10px;
    background-color: rgba(1,5,12,0.9);
    background: -moz-linear-gradient(left,  rgba(1,5,12,0.9) 0%, rgba(1,5,12,0.83) 48%, rgba(1,5,12,0.83) 56%, rgba(1,5,12,0.9) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(1,5,12,0.9) 0%,rgba(1,5,12,0.83) 48%,rgba(1,5,12,0.83) 56%,rgba(1,5,12,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(1,5,12,0.9) 0%,rgba(1,5,12,0.83) 48%,rgba(1,5,12,0.83) 56%,rgba(1,5,12,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01050c', endColorstr='#01050c',GradientType=1 ); /* IE6-9 */
    color: #f7f7fa;}
/* switch */
    .has-switch{display:inline-block;cursor:pointer;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;border:1px solid;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);position:relative;text-align:left;overflow:hidden;line-height:8px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;vertical-align:middle;min-width:100px}.has-switch.switch-mini{min-width:72px}.has-switch.switch-mini i.switch-mini-icons{height:1.20em;line-height:9px;vertical-align:text-top;text-align:center;transform:scale(0.6);margin-top:-1px;margin-bottom:-1px}.has-switch.switch-small{min-width:80px}.has-switch.switch-large{min-width:120px}.has-switch.deactivate{opacity:.5;filter:alpha(opacity=50);cursor:default!important}.has-switch.deactivate label,.has-switch.deactivate span{cursor:default!important}.has-switch>div{display:inline-block;width:150%;position:relative;top:0}.has-switch>div.switch-animate{-webkit-transition:left .5s;-moz-transition:left .5s;-o-transition:left .5s;transition:left .5s}.has-switch>div.switch-off{left:-50%}.has-switch>div.switch-on{left:0}.has-switch input[type=radio],.has-switch input[type=checkbox]{display:none}.has-switch span,.has-switch label{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;cursor:pointer;position:relative;display:inline-block;height:100%;padding-bottom:4px;padding-top:4px;font-size:14px;line-height:20px}.has-switch span.switch-mini,.has-switch label.switch-mini{padding-bottom:4px;padding-top:4px;font-size:10px;line-height:9px}.has-switch span.switch-small,.has-switch label.switch-small{padding-bottom:3px;padding-top:3px;font-size:12px;line-height:18px}.has-switch span.switch-large,.has-switch label.switch-large{padding-bottom:9px;padding-top:9px;font-size:16px;line-height:normal}.has-switch label{text-align:center;margin-top:-1px;margin-bottom:-1px;z-index:100;width:34%;border-left:1px solid #ccc;border-right:1px solid #ccc;color:#333;text-shadow:0 -1px 0 rgba(0,0,0,0.25);background-color:#f5f5f5;background-image:-moz-linear-gradient(top,#fff,#e6e6e6);background-image:-webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));background-image:-webkit-linear-gradient(top,#fff,#e6e6e6);background-image:-o-linear-gradient(top,#fff,#e6e6e6);background-image:linear-gradient(to bottom,#fff,#e6e6e6);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);border-color:#e6e6e6 #e6e6e6 #bfbfbf;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);*background-color:#e6e6e6;filter:progid:DXImageTransform.Microsoft.gradient(enabled= false)}.has-switch label:hover,.has-switch label:focus,.has-switch label:active,.has-switch label.active,.has-switch label.disabled,.has-switch label[disabled]{color:#333;background-color:#e6e6e6;*background-color:#d9d9d9}.has-switch label:active,.has-switch label.active{background-color:#ccc \9}.has-switch label i{color:#000;text-shadow:0 1px 0 #fff;line-height:18px;pointer-events:none}.has-switch span{text-align:center;z-index:1;width:33%}.has-switch span.switch-left{-webkit-border-top-left-radius:4px;-moz-border-radius-topleft:4px;border-top-left-radius:4px;-webkit-border-bottom-left-radius:4px;-moz-border-radius-bottomleft:4px;border-bottom-left-radius:4px}.has-switch span.switch-right{color:#333;text-shadow:0 1px 1px rgba(255,255,255,0.75);background-color:#f0f0f0;background-image:-moz-linear-gradient(top,#e6e6e6,#fff);background-image:-webkit-gradient(linear,0 0,0 100%,from(#e6e6e6),to(#fff));background-image:-webkit-linear-gradient(top,#e6e6e6,#fff);background-image:-o-linear-gradient(top,#e6e6e6,#fff);background-image:linear-gradient(to bottom,#e6e6e6,#fff);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe6e6e6',endColorstr='#ffffffff',GradientType=0);border-color:#fff #ffffff #d9d9d9;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);*background-color:#fff;filter:progid:DXImageTransform.Microsoft.gradient(enabled= false)}.has-switch span.switch-right:hover,.has-switch span.switch-right:focus,.has-switch span.switch-right:active,.has-switch span.switch-right.active,.has-switch span.switch-right.disabled,.has-switch span.switch-right[disabled]{color:#333;background-color:#fff;*background-color:#f2f2f2}.has-switch span.switch-right:active,.has-switch span.switch-right.active{background-color:#e6e6e6 \9}.has-switch span.switch-primary,.has-switch span.switch-left{color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25);background-color:#005fcc;background-image:-moz-linear-gradient(top,#04c,#08c);background-image:-webkit-gradient(linear,0 0,0 100%,from(#04c),to(#08c));background-image:-webkit-linear-gradient(top,#04c,#08c);background-image:-o-linear-gradient(top,#04c,#08c);background-image:linear-gradient(to bottom,#04c,#08c);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0044cc',endColorstr='#ff0088cc',GradientType=0);border-color:#08c #0088cc #005580;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);*background-color:#08c;filter:progid:DXImageTransform.Microsoft.gradient(enabled= false)}.has-switch span.switch-primary:hover,.has-switch span.switch-left:hover,.has-switch span.switch-primary:focus,.has-switch span.switch-left:focus,.has-switch span.switch-primary:active,.has-switch span.switch-left:active,.has-switch span.switch-primary.active,.has-switch span.switch-left.active,.has-switch span.switch-primary.disabled,.has-switch span.switch-left.disabled,.has-switch span.switch-primary[disabled],.has-switch span.switch-left[disabled]{color:#fff;background-color:#08c;*background-color:#0077b3}.has-switch span.switch-primary:active,.has-switch span.switch-left:active,.has-switch span.switch-primary.active,.has-switch span.switch-left.active{background-color:#069 \9}.has-switch span.switch-info{color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25);background-color:#41a7c5;background-image:-moz-linear-gradient(top,#2f96b4,#5bc0de);background-image:-webkit-gradient(linear,0 0,0 100%,from(#2f96b4),to(#5bc0de));background-image:-webkit-linear-gradient(top,#2f96b4,#5bc0de);background-image:-o-linear-gradient(top,#2f96b4,#5bc0de);background-image:linear-gradient(to bottom,#2f96b4,#5bc0de);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2f96b4',endColorstr='#ff5bc0de',GradientType=0);border-color:#5bc0de #5bc0de #28a1c5;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);*background-color:#5bc0de;filter:progid:DXImageTransform.Microsoft.gradient(enabled= false)}.has-switch span.switch-info:hover,.has-switch span.switch-info:focus,.has-switch span.switch-info:active,.has-switch span.switch-info.active,.has-switch span.switch-info.disabled,.has-switch span.switch-info[disabled]{color:#fff;background-color:#5bc0de;*background-color:#46b8da}.has-switch span.switch-info:active,.has-switch span.switch-info.active{background-color:#31b0d5 \9}.has-switch span.switch-success{color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25);background-color:#58b058;background-image:-moz-linear-gradient(top,#51a351,#62c462);background-image:-webkit-gradient(linear,0 0,0 100%,from(#51a351),to(#62c462));background-image:-webkit-linear-gradient(top,#51a351,#62c462);background-image:-o-linear-gradient(top,#51a351,#62c462);background-image:linear-gradient(to bottom,#51a351,#62c462);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff51a351',endColorstr='#ff62c462',GradientType=0);border-color:#62c462 #62c462 #3b9e3b;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);*background-color:#62c462;filter:progid:DXImageTransform.Microsoft.gradient(enabled= false)}.has-switch span.switch-success:hover,.has-switch span.switch-success:focus,.has-switch span.switch-success:active,.has-switch span.switch-success.active,.has-switch span.switch-success.disabled,.has-switch span.switch-success[disabled]{color:#fff;background-color:#62c462;*background-color:#4fbd4f}.has-switch span.switch-success:active,.has-switch span.switch-success.active{background-color:#42b142 \9}.has-switch span.switch-warning{color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25);background-color:#f9a123;background-image:-moz-linear-gradient(top,#f89406,#fbb450);background-image:-webkit-gradient(linear,0 0,0 100%,from(#f89406),to(#fbb450));background-image:-webkit-linear-gradient(top,#f89406,#fbb450);background-image:-o-linear-gradient(top,#f89406,#fbb450);background-image:linear-gradient(to bottom,#f89406,#fbb450);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff89406',endColorstr='#fffbb450',GradientType=0);border-color:#fbb450 #fbb450 #f89406;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);*background-color:#fbb450;filter:progid:DXImageTransform.Microsoft.gradient(enabled= false)}.has-switch span.switch-warning:hover,.has-switch span.switch-warning:focus,.has-switch span.switch-warning:active,.has-switch span.switch-warning.active,.has-switch span.switch-warning.disabled,.has-switch span.switch-warning[disabled]{color:#fff;background-color:#fbb450;*background-color:#faa937}.has-switch span.switch-warning:active,.has-switch span.switch-warning.active{background-color:#fa9f1e \9}.has-switch span.switch-danger{color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25);background-color:#d14641;background-image:-moz-linear-gradient(top,#bd362f,#ee5f5b);background-image:-webkit-gradient(linear,0 0,0 100%,from(#bd362f),to(#ee5f5b));background-image:-webkit-linear-gradient(top,#bd362f,#ee5f5b);background-image:-o-linear-gradient(top,#bd362f,#ee5f5b);background-image:linear-gradient(to bottom,#bd362f,#ee5f5b);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbd362f',endColorstr='#ffee5f5b',GradientType=0);border-color:#ee5f5b #ee5f5b #e51d18;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);*background-color:#ee5f5b;filter:progid:DXImageTransform.Microsoft.gradient(enabled= false)}.has-switch span.switch-danger:hover,.has-switch span.switch-danger:focus,.has-switch span.switch-danger:active,.has-switch span.switch-danger.active,.has-switch span.switch-danger.disabled,.has-switch span.switch-danger[disabled]{color:#fff;background-color:#ee5f5b;*background-color:#ec4844}.has-switch span.switch-danger:active,.has-switch span.switch-danger.active{background-color:#e9322d \9}.has-switch span.switch-default{color:#333;text-shadow:0 1px 1px rgba(255,255,255,0.75);background-color:#f0f0f0;background-image:-moz-linear-gradient(top,#e6e6e6,#fff);background-image:-webkit-gradient(linear,0 0,0 100%,from(#e6e6e6),to(#fff));background-image:-webkit-linear-gradient(top,#e6e6e6,#fff);background-image:-o-linear-gradient(top,#e6e6e6,#fff);background-image:linear-gradient(to bottom,#e6e6e6,#fff);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe6e6e6',endColorstr='#ffffffff',GradientType=0);border-color:#fff #ffffff #d9d9d9;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);*background-color:#fff;filter:progid:DXImageTransform.Microsoft.gradient(enabled= false)}.has-switch span.switch-default:hover,.has-switch span.switch-default:focus,.has-switch span.switch-default:active,.has-switch span.switch-default.active,.has-switch span.switch-default.disabled,.has-switch span.switch-default[disabled]{color:#333;background-color:#fff;*background-color:#f2f2f2}.has-switch span.switch-default:active,.has-switch span.switch-default.active{background-color:#e6e6e6 \9}