<div class="bg_gray minw" align="center" style="height:1px; margin-top:4em;margin-bottom:2em;">
    <!-- <button class="button_v line_05"></button> -->
</div>
<div class = "navbar bavbar-default navbar-float-bottom minw">
		<div class = 'footer' align="center" style="max-width:800px; margin: 0 auto;font-size: 16px;">
			<span style="display:inline-box;position:absolute;top:5px; left: calc(50% - 16px);">
				<%= image_tag 'neco_b.png', style: "width:32px; opacity:0.3;" %>
			</span>
	    	<span style="float:right;display:inline-box;     margin: 1em;"><a href="https://twitter.com/torblocker" class="link_rv"><i class="fa fa-twitter" aria-hidden="true"></i></a></span>
	    	<span style="float:right;display:inline-box;     margin: 1em;"><a href="https://github.com/chienomi/torblocker" class="link_rv" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></span>
	    	<span style="float:right;display:inline-box;     margin: 1em;"><a class="link_rv" href="mailto:hq@torblocker.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></span>
		</div>
</div>